.side-title-wrap {
    pointer-events: none;
}

.side-title {
    pointer-events: auto;
    position: relative;
    min-width: 16rem;
    flex: 0 0 auto;
    z-index: 5;
    font-size: 5rem;
    text-transform: uppercase;
    line-height: 1em;
    opacity: 1 !important;
    color: #fff !important;
    height: 39.5rem;
    font-weight: 300;
    display: inline-flex;
    justify-content: flex-end;

    @media (max-width: $md3+px) {
        min-width: 11rem;
        justify-content: center;
    }

    &:before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        height: 100%;
        width: 100vw;
        z-index: 1;
        background-color: $secondColor;
    }

    @media (max-width: $xl1+px) {
        //width: 32rem;
    }

    @media (max-width: $md1+px) {
        //width: 30rem;
    }

    @media (max-width: $md2+px) {
        //width: 20rem;
    }

    @media (max-width: $md3+px) {
        //width: 8rem;
    }

    & span {
        padding: 2rem;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        position: relative;
        z-index: 2;
        display: block;
        transform: rotate(180deg);
        margin: 0 !important;
        height: 100%;
        text-align: center;
    }
}

.side-title-body {
    position: relative;

    &.container {
        width: 100%;
        padding: 0;
        max-width: 185rem !important;
    }
}
