.btn-default {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    outline: none;
    min-height: 2.875em;
    border: 1px solid currentColor;
    padding: 0.4em 0.75em;
    line-height: 1.2em;
    transition: all .3s ease;
    gap: 1.66em;

    & img, svg {
        flex: 0 0 auto;
        height: 1.75em;
    }

    &--md {
        font-size: 1.6rem;
        min-height: 5.43em;
        padding: 0.4em 3.75em;
    }



    &--light {
        color: #fff;
        opacity: 1 !important;

        @media (min-width: 992px) {
            &:hover {
                transition: all .3s ease;
                color: $secondColor;
            }
        }
    }

    &--light-second {
        color: $secondColor;
        border-color: $secondColor;
        opacity: 1 !important;

        @media (min-width: 992px) {
            &:hover {
                transition: all .3s ease;
                color: #fff;
                background: $mainColor;
            }
        }
    }

    &--dark {
        background-color: $mainColor;
        color: #fff !important;
        opacity: 1 !important;

        & svg path {
            transition: all .3s ease;
        }

        @media (min-width: 992px) {
            &:hover {
                transition: all .3s ease;
                background-color: $secondColor;

                & svg path {
                    fill: #fff;
                }
            }
        }
    }
}