.btn-growup {
    background-color: transparent;
    outline: none;
    border-radius: 0;
    border: none;
    width: 6rem;
    height: 6rem;
    cursor: pointer;
    position: fixed;
    right: 1.8rem;
    bottom: 1.6rem;
    z-index: 50;
    padding: 0;
    transition: opacity .6s ease, color .3s ease;
    color: $textColor;
    opacity: 0;
    visibility: hidden;
    background-color: $secondColor;
    transition: all .3s ease;

    @media (min-width: 992px) {
        &:hover {
            color: $mainColor;
        }
    }

    &:before {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 3.9rem;
        height: 2.5rem;
        background-color: #fff;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
    

    & svg {
        width: 100%;
        height: auto;
        border: 2px solid #fff;
        border-radius: 50%;
        background-color: #fff;
        display: none;

        & path {
            fill: currentColor;
        }
    }

    &--show {
        opacity: 0.3;
        visibility: visible;

        @media (min-width: 992px) {
            &:hover {
                opacity: 1;
            }
        }
    }

    &--hide {
        opacity: 0 !important;
        visibility: hidden !important;
    }
}