.blog-section {
    padding-top: 6rem;
    padding-bottom: 8.5rem;
    position: relative;

    @media (max-width: $md3+px) {
        padding-top: 5.3rem;
        padding-bottom: 12.4rem;
    }
}
.blog {
    &__body {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            z-index: 2;
            left: 0;
            top: 0;
            background-color: #fff;
            width: 7.5rem;
            height: 100%;
        }
        & > .container {
            max-width: 181rem !important;
            padding-left: 19rem;
            z-index: 1;

            @media (max-width: $xl1+px) {
                padding-left: 15rem;
            }

            @media (max-width: $md3+px) {
                padding-left: 14rem;
            }
        }
    }

    &__title {
        position: absolute;
        top: 4rem;
        left: 0;
        width: 100%;
        z-index: 3;

        @media (max-width: $md3+px) {
            top: 4.2rem;

            & .side-title {
                width: 13rem;
            }
        }
    }

    &__list {
        padding-left: 0;
        margin-bottom: 12.6rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0 8.5rem;

        @media (max-width: $xl1+px) {
            gap: 0 6rem;
        }

        @media (max-width: $md3+px) {
            margin-bottom: 13.4rem;
            justify-content: center;
        }

        & > li {
            flex: 0 1 calc(25% - (8.5rem * 3 / 4));
            padding-top: 11.5rem;
            margin-bottom: 8.7rem;

            @media (max-width: $xl1+px) {
                flex: 0 1 calc(25% - (6rem * 3 / 4));
            }

            @media (max-width: $md1+px) {
                flex: 0 1 calc(33.3333333% - (6rem * 2 / 3));
            }

            @media (max-width: $md2+px) {
                flex: 0 1 calc(50% - 3rem);
            }

            @media (max-width: $md3+px) {
                flex: 0 1 100%;
                max-width: 32.7rem;
            }

            @media (min-width: 1268px) {
                &:nth-child(4n + 1) {
                    position: relative;

                    &:before {
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 0;
                        width: 200vw;
                        height: 33rem;
                        z-index: 1;
                        background-color: $mainColor;
                        transform: translateX(-50%);
                    }
                }

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    padding-top: 26.9rem;

                    &::before {
                        height: 48rem;
                    }
                }
            }

            @media (max-width: $md1+px) and (min-width: 992px) {
                &:nth-child(3n + 1) {
                    position: relative;

                    &:before {
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 0;
                        width: 200vw;
                        height: 33rem;
                        z-index: 1;
                        background-color: $mainColor;
                        transform: translateX(-50%);
                    }
                }

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                    padding-top: 26.9rem;

                    &::before {
                        height: 48rem;
                    }
                }
            }

            @media (max-width: $md2+px) and (min-width: 768px) {
                &:nth-child(2n + 1) {
                    position: relative;

                    &:before {
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 0;
                        width: 200vw;
                        height: 33rem;
                        z-index: 1;
                        background-color: $mainColor;
                        transform: translateX(-50%);
                    }
                }

                &:nth-child(1),
                &:nth-child(2) {
                    padding-top: 26.9rem;

                    &::before {
                        height: 48rem;
                    }
                }
            }

            @media (max-width: $md3+px) {
                &:first-child {
                    padding-top: 26.9rem;

                    &::before {
                        height: 48rem;
                    }
                }
                position: relative;

                &:before {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    width: 200vw;
                    height: 33rem;
                    z-index: 1;
                    background-color: $mainColor;
                    transform: translateX(-50%);
                }
            }

            & .card {
                position: relative;
                z-index: 2;
            }
        }
    }

    &__bottom {
        text-align: center;
        padding: 0 !important;
    }

    &__btn {
 
    }
}
