

.home-banner {
    @media (max-width: $md3+px) {
        padding-bottom: 0;
    }
    &__body {
        position: relative;

        &.container-second {
            max-width: 149rem !important;
        }
    }

    &__box {
        position: relative;
        width: 60.95%;
        padding: 9.4rem 8rem 7.4rem 0;

        @media (max-width: $md3+px) {
            width: 100%;
            padding-bottom: 10rem;
        }

        &:before {
            position: absolute;
            content: '';
            z-index: -1;
            top: 0;
            right: 0;
            height: 100%;
            width: 100vw;
            background-color: #f0f0f0;
        }
    }

    &__suptitle {
        color: $thirdColor;
        font-size: 2.8rem;
        line-height: 1em;
        margin-bottom: 1.5rem;
    }

    &__title {
        margin-bottom: 4rem;
    }

    &__text {
        font-size: 2.2rem;
        line-height: 1.63em;
        color: #707070;
        max-width: 51.6rem;
        margin-bottom: 3.4rem;
        letter-spacing: 0.007em;

        @media (max-width: $md3+px) {
            max-width: none;
        }
    }

    &__btn {
        font-size: 2rem;

        &.btn-default {
            @media (min-width: 768px) {
                min-height: 3.7em;
                padding: 0.4em 1.65em;
            }
        }
    }

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        max-height: 100%;
        width: 58.41%;
        bottom: 0;
        right: 5.4%;

        @media (max-width: $xl1+px) {
            right: 0;
        }

        @media (max-width: $md3+px) {
            position: static;
            width: 80%;
            margin-left: auto;
            margin-top: -6.5rem;
        }

        & img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }

    &--second {
        padding-top: 15rem;
        padding-bottom: 0;

        @media (min-width: 768px) {
            & .home-banner__body  {
                padding-bottom: 12.3rem;
    
                &.container-second {
                    max-width: 167rem !important;
                }
            }
    
            & .home-banner__box {
                padding: 9.9rem 9.4rem 6rem 9.4rem;
                width: 51.95%;
    
                &::before {
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                }
            }
    
            & .home-banner__suptitle {
                margin-bottom: 2.2rem;
            }
    
            & .home-banner__text {
                max-width: 58.6rem;
                margin-bottom: 5.2rem;
            }
    
            & .home-banner__img {
                width: 49.41%;
                right: 4.4%;
            }
        }

        @media (max-width: $md3+px) {
            padding-top: 14rem;

            & .home-banner__body  {
                &.container-second {
                    width: calc(100% - 13.2rem);
                }
            }

            & .home-banner__box {
                padding: 7.7rem 3rem 10rem 0.5rem;
            }

            & .home-banner__suptitle {
                font-size: 2.4rem;
                margin-bottom: 0.5rem;
            }

            & .home-banner__title {
                font-size: 4.4rem;
                line-height: 6.6rem;
                margin-bottom: 1.8rem;
            }

            & .home-banner__text {
                max-width: 54rem;
                margin-bottom: 3rem;
            }

            & .home-banner__btn {
                &.btn-default {
                    min-height: 3.7em;
                    padding: 0.4em 1.75em;
                }
            }

            & .home-banner__img {
                width: 89%;
            }
        }

        @media (max-width: $md4+px) {
            padding-top: 8rem;


            & .home-banner__body {
                padding-right: 3rem;

                &.container-second {
                    width: calc(100% - 12rem);
                }
            }
        }

    }
}

.home-downloads {
    background: $mainColor;
    padding-top: 13rem;
    padding-bottom: 9rem;
    color: #fff;

    @media (max-width: $md3+px) {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    &__body {
        display: flex;
        gap: 13rem;
        min-width: 0;
        align-items: center;

        @media (max-width: $xl1+px) { 
            gap: 50px;
        }

        @media (max-width: $md3+px) {
            gap: 5rem;
        }

        &.container-second {
            max-width: 169rem !important;
        }
    }

    &__link-wrap {
        position: relative;
        min-height: 52.6rem;
        width: 38rem;
        flex: 0 0 auto;
        z-index: 5;

        @media (min-width: $md2+px) {
            margin-bottom: 3rem;
        }

        @media (max-width: $xl1+px) {
            width: 32rem;
        }

        @media (max-width: $md1+px) {
            width: 30rem;
        }

        @media (max-width: $md2+px) {
            width: 20rem;
        }

        @media (max-width: $md3+px) {
            width: 8rem;
        }
    }

    &__link {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50vw;
        background: $secondColor;
        font-size: 5rem;
        text-transform: uppercase;
        line-height: 1em;
        opacity: 1 !important;
        transition: all .3s ease;
        color: #fff !important;

        @media (min-width: 992px) {
            &:hover {
                transform: translateX(50px);
            }
        }
        @media (min-width: 1568px) {
            &:hover {
                transform: translateX(80px);
            }
        }

        @media (max-width: $md3+px) {
            font-size: 4rem;
        }

        & span {
            position: absolute;
            right: 8rem;
            transform: translateX(50%) translateY(-50%) rotate(-90deg) ;
            text-align: center;
            top: 50%;
            white-space: nowrap;

            @media (max-width: $md3+px) {
                right: 6rem;
            }
        }
    }

    &__list {
        padding-left: 0;
        margin-bottom: 0;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        
        @media (min-width: 768px) {
            gap: 5rem;

        }

        & > li {
            flex: 0 1 100%;

            @media (min-width: 768px) {

                &:nth-child(2) {
                    display: flex;
                    justify-content: center;
                }
                &:nth-child(3) {
                    display: flex;
                    justify-content: flex-end;
                }
            }

            @media (max-width: $md3+px) {
                &:not(:first-child) {
                    padding-top: 5.5rem;
                }
                &:not(:last-child) {
                    padding-bottom: 5.5rem;
                    position: relative;

                    &:before {
                        position: absolute;
                        content: '';
                        left: 10%;
                        bottom: 0;
                        width: 100vw;
                        height: 1px;
                        background-color: $secondColor;
                    }
                }
            }
        }
    }

    &__list-item {
        display: flex;
        width: 100%;
        max-width: 58rem;
        align-items: center;
        gap: 2.3rem;
        opacity: 1 !important;

        @media (min-width: 992px) {
            &:hover {
                & .home-downloads__list-title  {
                    color: $secondColor;
                }

                & .home-downloads__list-text {
                    color: #fff;
                }
            }
        }
    }

    &__list-icon {
        flex: 0 0 auto;
        width: 11.9rem;
        display: flex;

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__list-text-wrap {
        flex: 1 1 auto;
        
        @media (min-width: 768px) {
            padding-top: 5.4rem;
            border-top: 1px solid $secondColor;

        }
    }

    &__list-title {
        margin-bottom: 2.4rem;
        color: #fff;
        transition: all .3s ease;
        font-weight: 500 !important;

        @media (max-width: $md3+px) {
            margin-bottom: 0;
        }
    }

    &__list-text {
        font-size: 2rem;
        line-height: 1.2em;
        color: $secondColor;
        transition: all .3s ease;
        padding-right: 1rem;

        @media (max-width: $md3+px) {
            display: none;
            padding-right: 0;
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }
}

.home-logos {
    &.padding-wrap {
        padding-top: 20rem;
        padding-bottom: 18rem;

        @media (max-width: $md3+px) {
            padding-top: 8rem;
            padding-bottom: 8rem;
        }
    }
    &__body {
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 10rem;
        justify-content: center;


        @media (max-width: $md2+px) {
            grid-template-columns: repeat(2, auto);
        }

        &.container-second {
            max-width: 158rem !important;
        }
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        
        & img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }
}
