.info {
    position: relative;
    padding-top: 6rem;
    padding-bottom: 8rem;

    &__title {
        position: absolute;
        top: 11rem;
        left: 0;
        width: 100%;

        @media (max-width: $md3+px) {
            top: 10rem;
        }

        & .side-title {
            height: 41.5rem;

            @media (max-width: $md3+px) {
                width: 11rem;
            }

            @media (max-width: $md4+px) {

            }
        }
    }

    &__content {
        padding-left: 14rem;
        padding-right: 12rem;
        padding-top: 33.8rem;

        @media (max-width: $md3+px) {
            padding-top: 34.8rem;
            padding-left: 11.2rem;
            padding-right: 6rem;
        }

        @media (max-width: $md4+px) {
            padding-top: 10.7rem;
        }
        &.container-second {
            max-width: 133.3rem !important;
        }
    }

    &__text {
        color: $mainColor;

        & > *:last-child {
            margin-bottom: 0;
        }
        &.text-content {
            font-size: 2.6rem;
            line-height: 1.84em;

            @media (max-width: $md4+px) {
                font-size: 2.2rem;
            }
            & h2 {
                margin-bottom: 6rem;

                @media (max-width: $md3+px) {
                    font-size: 4.4rem;
                    line-height: 8rem;
                    margin-bottom: 5rem;
                }

                @media (max-width: $md4+px) {
                    font-size: 4rem;
                    line-height: 1.4em;
                    margin-bottom: 3rem;
                }
            }

            & p,
            & ul,
            & ol,
            & figure {
                margin-bottom: 2em;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            & p,
            & ul,
            & ol,
            & figure,
            & h1,
            & h2,
            & h3,
            & h4,
            & h5,
            & h6 {
                & ~ h1,
                & ~ h2,
                & ~ h3,
                & ~ h4,
                & ~ h5,
                & ~ h6 {
                    margin-top: 10rem;

                    @media (max-width: $md4+px) {
                        margin-top: 6rem;
                    }
                }
            }
        }
    }


    &__logo {
        margin-bottom: 2em;
        max-width: 21rem;

        & img {
            max-width: 100%;
            height: auto;
            display: inline-block;
        }
    }
}
