.text-block {
    display: flex;
    gap: 3rem;

    @media (max-width: $md3+px) {
        display: block;
    }

    &__col-1 {
        flex: 0 0 65.68%;

        @media (max-width: $md3+px) {
            margin-bottom: 4.5rem;
        }
    }

    &__col-2 {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }

    &__text {
        &.text-content {
            font-size: 2.8rem;
            line-height: 1.71em;
            color: #3f4f5f;

            @media (max-width: $md3+px) {
                font-size: 2.6rem;
            }

            @media (max-width: $md4+px) {
                font-size: 2.2rem;
            }

            & > *:last-child {
                margin-bottom: 0;
            }
        }
    }


    &__logo {
        width: 100%;
        max-width: 27.5rem;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;

        @media (max-width: $md3+px) {
            max-width: 24.7rem;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__img {
        margin-top: auto;
        width: 100%;
        max-width: 41.6rem;
        background-color: $mainColor;
        margin-left: auto;

        @media (max-width: $md3+px) {
            max-width: 24.6rem;
        }

        &-inner {
            position: relative;
            height: 0;
            width: 100%;
            padding-bottom: 100%;
        }

        & img {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            display: block;
            transform: rotate(-5deg);
        }
    }

    &--has-img {
        & .text-block__col-1 {
            @media (min-width: 768px) {
                padding-bottom: 14.5rem;
            }
            @media (max-width: $md3+px) {
                margin-bottom: 2rem;
            }
        }
    }
}
